<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wittily</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>

    <script src="public/app.js"></script>
    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
   <!-- Fonts  -->
   <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">


   <link rel="stylesheet" href="public/style.css">



  </head>
  <body ng-app="ngWittily">

    <div class="navbar-fixed">
    <nav style="height: 60px;">
       <div class="nav-wrapper">
         <img src="public/logo-01.png" alt="Let's Debate!" width="60px;" height="60px;">
         <a href="#" class="brand-logo center" style="color: #5277bb; font-family: Lobster;">Let's Debate</a>
       </div>
     </nav>
   </div>
  <div class="section" ng-controller="ScreenCtrl">

    <div class="row">
      <div class="col l4 s12" id="chatScreen" style="margin-top: 50px; margin-left: 50px; margin-right: -75px;display:none;">
          <div class="card">
          <div id="topic" class="box-a">
            <img src="{{queriedObject.cover_photo}}" alt="Topic" width="100%;">
            <div class="card-content">
              <p>{{queriedObject.title}}</p>
            </div>
          </div>
          <div id="score">
            <div class="row">
              <div class="col l6 s6 score-card" id="affirm-score">
                <h3 style="color: #4080ff;">{{queriedObject.agree_score}}</h3>
                <h4 style="color: #4080ff;" class="center-align">Agree</h4>
              </div>
              <div class="col l6 s6 score-card" id="negate-score">
                <h3>{{queriedObject.disagree_score}}</h3>
                <h4 class="center-align" style="color: white;">Disagree</h4>
              </div>
            </div>
          </div>

      				<div class="nano-content pad-all">
      					<ul class="list-unstyled media-block">
      						<li class="mar-btm" ng-repeat="(key, argument) in queriedObject.arguments | orderObjectBy:'key':true">
                    <div ng-if="argument.agree">
        							<div class="media-left">
        								<!-- <img src={{chat.photo}} class="circle img-sm" alt="Profile Picture" width="100%"> -->
        							</div>
        							<div class="media-body pad-hor">

                        <div ng-if="argument.text">
          								<div class="speech">
          									<p>{{argument.text}}</p>
                            <p class="speech-time">
                              <i class="fa fa-heart-o fa-fw" ng-click="addAgreeLikes(argument.key)";></i> {{argument.likes}}
                            </p>
          								</div>
                        </div>

                        <div ng-if="argument.photo_link">
                          <div class="speech">
                            <img src="{{argument.photo_link}}" alt="Photo" width="100%;">
                            <p class="speech-time">
                              <i class="fa fa-heart-o fa-fw" ng-click="addAgreeLikes(argument.id)";></i> {{argument.likes}}
                            </p>
                          </div>
                        </div>

        							</div>
                    </div>
                    <div ng-if="!argument.agree">
                      <!-- <div class="media-right">

                      </div> -->
                      <div class="media-body pad-hor speech-right">
                        <div ng-if="argument.text">
                        <div class="speech">
                            <p>{{argument.text}}</p>
                            <p class="speech-time">
                              <i class="fa fa-heart-o fa-fw" ng-click="addDisagreeLikes(argument.id);"></i> {{argument.likes}}
                            </p>
                        </div>
                        </div>
                        <div ng-if="argument.photo_link">
                          <div class="speech">
                          <img src="{{argument.photo_link}}" alt="Disagree Photo" width="100%;">
                          <p class="speech-time">
                            <i class="fa fa-heart-o fa-fw" ng-click="addDisagreeLikes(argument.id, argument);"></i> {{argument.likes}}
                          </p>
                        </div>
                      </div>

                      </div>
                    </div>
      						</li>
      						<!-- <li class="mar-btm" ng-repeat="negateChat in chat.negateChats">
      							<div class="media-right">
      								<img src={{negateChat.pic}} class="img-circle img-sm" alt="Profile Picture">
      							</div>
      							<div class="media-body pad-hor speech-right">
      								<div class="speech">
      									<p>{{negateChat.argument}}</p>
      								</div>
      							</div>
      						</li> -->

      					</ul>
      				</div>

      </div>
      </div>
      <div class="col l8 s12 articleScreen" style="margin-top: 50px;">
        <div class="row" style="width: 75%;">
           <div class="col s12">
             <div class="card" ng-repeat="article in data">
               <div class="card-image" ng-click="showDetails(article.id)">
                 <img src="{{article.cover_photo}}">
                 <span class="card-title">{{article.title}}</span>
               </div>
               <div class="card-content">
                 <p>{{article.description}}</p>
               </div>
               <!-- <div class="card-action">
                 <a href="#">This is a link</a>
               </div> -->
             </div>
           </div>
         </div>

      </div>


  </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

  </body>
</html>
